<footer>
    <small>Rachel Krupnick's Site and Blog</small>
    <nav>
        <ul>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Blog", "#" %></li>

    </nav> 
</footer>