<footer>
    <small>Rachel Krupnick's Site and Blog</small>
    <nav>
        <ul class="flex gap-6">
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Blog", "#" %></li>
        </ul>
    </nav> 
</footer>