<header>
      <div>
        <nav>
          <ul class="flex flex-row gap-6">
            <li><%= link_to "Rachel Krupnick", root_path, id: "logo" %></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Blog", "#" %></li>
          </ul>
        </nav>
      </div>
    </header>