<header class="mb-6">
      <div>
        <nav class="bg-slate-300 shadow-md">
          <ul class="flex flex-row gap-6 text-xl">
            <li><%= link_to "Rachel Krupnick", root_path, id: "logo" %></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
            <li><%= link_to "Blog", "#" %></li>
          </ul>
        </nav>
      </div>
    </header>