<header>
      <div>
        <nav>
          <ul class="flex flex-row gap-6">
            <li><%= link_to "Rachel Krupnick", '#', id: "logo" %></li>
            <li><%= link_to "Home", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
            <li><%= link_to "Blog", "#" %></li>
          </ul>
        </nav>
      </div>
    </header>